.pokemon {
  margin-top: 2rem;
  flex-basis: 20%;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s ease;
  text-decoration: none;
}

#all-image {
  margin-top: 1rem;
  height: 150px;
  max-height: 80%;
  transition: transform 0.3s ease;
}

.pokemon .name-tag {
  color: white;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 4px;
  text-decoration: none;
}

.pokemon:hover {
  background: #728689;
}

.pokemon:hover #all-image {
  animation: motionEffect 0.3s infinite alternate ease-in-out;
}

/* @keyframes motionEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
} */
